/* components/app-layout.module.css */

.mainWrapper {
  display: flex;
  height: 100vh; /* Ocupa a altura toda da tela */
}

.contentWrapper {
  flex-grow: 1; /* Faz essa coluna ocupar todo o espaço restante */
  padding: 24px; /* Um espaçamento interno */
  overflow-y: auto; /* Adiciona scroll se o conteúdo for maior que a tela */
}

/* --- ADICIONADO PARA RESPONSIVIDADE --- */
@media (max-width: 768px) {
  .mainWrapper {
    flex-direction: row; /* Mantém a sidebar na esquerda e o conteúdo na direita */
    height: 100vh;
  }

  .contentWrapper {
    padding: 1rem; /* Padding padrão sem espaço extra pro footer */
  }
}
